doctype html
html(lang='en')
	head
		link(href="/snazzy-info-window-master/dist/snazzy-info-window.min.css", rel="stylesheet")
		link(href="/convoyer/incident/styles.css", rel="stylesheet")
		meta(charset='UTF-8')
		title Incident Map
		style.
			#map {
			height: 100%;
			width: 100%;
			}
	body
		#map
		script(src='https://maps.googleapis.com/maps/api/js?key='+ mapKey)
		script(src='/snazzy-info-window-master/dist/snazzy-info-window.min.js')
		script(src='/convoyer/incident/incidentDetailMapScript.js')
		script(src='/convoyer/locationIsAccurate.js')
		script.
				var mapElement = document.getElementById('map');
				var results = !{ JSON.stringify(getIncidentDetailMapResult) };
				initMap();
																				


